:root {
	--sl-color-accent-low: #0c2d48;
	--sl-color-accent: #06b6d4;
	--sl-color-accent-high: #67e8f9;
	--sl-color-white: #e0e0e0;
	--sl-color-gray-1: #c0c0c0;
	--sl-font-system: system-ui, -apple-system, sans-serif;
}
