:root {
	--sl-color-accent-low: #3a2e22;
	--sl-color-accent: #e8823a;
	--sl-color-accent-high: #fbbf77;
	--sl-color-white: #f0e6d6;
	--sl-color-gray-1: #d6cdbc;
	--sl-font-system: system-ui, -apple-system, sans-serif;
}
